.layout {
  height: 100%;
  background: white;
}

.header {
  background: white;
  border-bottom: 1px solid #f0f0f1;
  padding: 0 12px;
}

.headerLink {
  color: #000;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 500ms ease;
}

.headerLink:hover {
  color: #3f74ac;
  fill: #3f74ac;
}

.content {
  padding: 16px;
}
