.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  gap: 16px;
}

.list {
  flex-grow: 1;
  overflow: auto;
}

.listItem {
  cursor: pointer;
}

:global(.ant-list) .listItem .listItemMeta {
  align-items: center;
}

:global(.ant-list) .listItem .listItemMeta :global(.ant-list-item-meta-title) {
  margin-bottom: 0;
}

.listItemTitle {
  font-size: 18px;
}

.listItem:hover .listItemTitle {
  color: #3f74ac;
  transition: all 500ms ease;
}

.listItem:hover :global(.ant-avatar) {
  background: #3f74ac;
  transition: all 500ms ease;
}
